.container{
    margin-top: 10%;

}

button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

input {
    border-radius: 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, 0.086);
}

input:focus {
    outline: 1px !important;
    border: 1px !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, 0.086);
}


#okButton{
    background-color: rgb(4, 69, 175);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 6px 14px;
    min-height: 40px;
}


#previousQuestion,#nextQuestion{
    background-color: rgb(4, 69, 175);
    width: 36px;
    min-width: 36px;
    color: rgb(255, 255, 255);
    border-radius: 4px;

}

.list-group-item .list-group-item-action .active{
    background-color: rgb(4, 69, 175);
}

#savebuttoncontainer{
    margin-top: 2%;
    margin-left: 1%;
}



#footer {
    /* top: 0px;  you can delete these two lines if you want the position as it is */
    position:fixed;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width:500px){
    #footer { bottom: 0px; }
}










/* nps  */







  .rating-input-wrapper input[type="radio"] {
    display: none;
  }
  .rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
  }
  .rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color:  rgb(4, 69, 175);
    color: #fff;
  }
  .rating-labels > label{
    font-size: 14px;
      color: #777;
  }
  


  /* star ratings */

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
  }
  
  .ratingControl {
    position: relative;
    display: inline-flex;
    direction: rtl;
  }
  .ratingControl__radio {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  .ratingControl__star {
    position: relative;
    display: block;
    height: 48px;
    width: 24px;
    cursor: pointer;
    overflow: hidden;
  }
  .ratingControl__star:nth-last-of-type(odd)::before, .ratingControl__star:nth-last-of-type(odd)::after {
    left: 0;
    -webkit-clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  .ratingControl__star:nth-last-of-type(even)::before, .ratingControl__star:nth-last-of-type(even)::after {
    right: 0;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%);
  }
  .ratingControl__star::before, .ratingControl__star::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
  }
  .ratingControl__star::before {
    width: 200%;
    background-color: #aaa;
  }
  .ratingControl__star::after {
    background-color: #f2b600;
  }
  .ratingControl__star:hover::after, .ratingControl__star:hover ~ .ratingControl__star::after, .ratingControl__radio:checked ~ .ratingControl__star::after {
    width: 200%;
  }




  